<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div>
    <h3>Songs list</h3>
    <table border="1" cellspacing="0">
   	 <tr>
    	<td><%=docs[0]%></td>
    	<td><audio controls>
    		<source src="../songs/battery.mp3" type="audio/mpeg" preload="auto" autoplay>
    		</audio controls>
    	</td>
   	 </tr>
   	 <tr>
    	<td><%=docs[1]%></td>
    	<td><audio controls>
    		<source src="../songs/song2.mp3" type="audio/ogg"  preload="auto" controls>
    		</audio controls>
    	</td>
   	 </tr>
   	 <tr>
    	<td><%=docs[2]%></td>
    	<td><audio controls>
    		<source src="../songs/song3.mp3" type="audio/ogg">
    		</audio controls>
    	</td>
   	 </tr>
    </table>
    </div>
  </body>
</html>